/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    
  }
  
  /* Header/Logo Title */
  .header {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    color: white;
    font-size: 150%;
  }
  
  /*Add User icon*/
  .fa-solid, .fa-user  {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: rgb(89, 140, 235);
    cursor: pointer;
    top : 85%;
    left: 8%;
  
  }

  #errormessage{
    position: fixed;
    border: 2px solid whitesmoke;
    width: 75%;
    height: 3%;
    display: none;
    left: 12.3%;
    top: 22%;
    color: red;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

}
  


#successmessage{
  position: fixed;
  border: 2px solid whitesmoke;
  width: 75%;
  height: 3%;
  display: none;
  left: 12.3%;
  top: 22%;
  color: blue;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

}


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 1px 16px;
 
}

/*Modal-Submit-Button*/
#formButton{
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: #92b5c7;
  color: white;
  border: none;

}



input, textarea, select {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 70%;
  font-family: inherit;
  font-size: 1rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75vw;
}


/*User profile modal */

#profile-modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #92B5E7; 
  width: 93%;

}
/* 92b5c7 */

#profile-modal-notes{
  height: 60%;
  width: 99%;
  border-style: solid;
  border-width: unset;
  margin-top: 2%;

}

#profile-modal-body{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;

}
#profile-name{
  width: 318%;
  color: white;
  text-align: left;
  height: 200%;
  text-transform: uppercase;
}

#profile-position{
  color: white;
  text-align: center;
  text-transform: uppercase;

}


#profile-model-content{
  height: 45%;
  background: linen;
}

.user-profile-options{
  cursor: pointer;
  text-align: center;
  width: 32%;
  height: 4%;
  background-color: #92b5c7;
  color: white;
  border: none;

}
#table  tr:nth-child(even){background-color: rgb(218, 225, 236)}

#table  tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(89, 140, 235);
  color: white;
}

#table tr{
  text-align: center;
  height: 3vh;
}

.fa-solid, .fas {
  margin-bottom: 0.65vh;
}

#availability-div{
cursor: pointer;
}


.tableHeader{
  cursor: pointer;

}

.available{
background-color: rgb(62, 226, 62);
}

.unavailable{
  background-color:rgb(245, 121, 142)
  }

/* Dropdown  */

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 8vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: revert;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown a:hover {background-color: #ddd;}



.show {display: block;}