/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 10px;
    text-align: center;
    background: #1a0664c7;
    color: white;
    font-size: 30px;
  }
  
  /* Page Content */
  .content {padding:20px;}
