<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/homepage.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://kit.fontawesome.com/27d376a945.js" crossorigin="anonymous"></script>
    <div class="header"> <h1>SQUAD MANAGER</h1> </div>

</head>
<body>
    <div id="wrapper" >


        <div id = "add-user-button" > 
            <i class="fa-solid fa-user-plus fa-5x"></i>
        </div>
</div>
    
</body>

<script>
    let btn = document.getElementById("add-user-button")
</script>
</html>