/* Style the body */
body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 10px;
    text-align: center;
    background: #6297bdc7;
    color: white;
    font-size: 30px;
  }
  
  /*Add User icon*/
  .fa-solid {
    color: rgb(31, 97, 219);
    cursor: pointer;
    position: absolute;
  

  }

  .add-user-button{
    width: 100%;
    position: absolute;
    top : 550px;
    left: 800px;

  }



  /*wrapper*/
  .wrapper{
overflow: hidden; 
width: 50vw;
  height: 30vh;
 }




