<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/homepage.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://kit.fontawesome.com/27d376a945.js" crossorigin="anonymous"></script>
    <div class="header"> <h1>SQUAD MANAGER</h1> </div>

</head>
<body>
    <div id="wrapper" >


        <!-- <a id="add-user-btn" class="btn" href="#">
        </a> -->
        <i class="fa-solid fa-user-plus fa-5x"></i>

        <div class = "popup">
            <div class = "close-btn">&times;</div>
            <div class = "form" id = "form">
                <h2>Add Member</h2>
                <div class= "form-element">
                    <label>Name</label>
                    <input type="text" placeholder = 'Didier Drogba' id="name" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error message</small>

                </div>

                <div class= "form-element">
                    <label for = "position">Position</label>
                    <input type="text" placeholder = 'Striker' id="position" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error message</small>

                </div>

                <div class= "form-element">
                    <label for = "email">Email</label>
                    <input type="text" placeholder = 'didier@gmail.com', id="email" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error Message</small>

                </div>


                <div class= "form-element">
                    <label for = "age">Age</label>
                    <input type="number" id="age" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error Message</small>

                </div>

                <div class= "form-element">
                    <label for = "contact">Contact Number</label>
                    <input type="text" placeholder = '0123 456 789' id="contact" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error Message</small>

                </div>
                <br>

                
                <div class= "form-element">
                    <label for = "nickname">Nickname</label>
                    <input type="text" placeholder = 'Drog' id="nickname" >
                    <i class = "fas fa-check-circle"></i>
                    <i class = "fas fa-exclamation-circle"></i>
                    <small>Error Message</small>

                </div>
                <br>

                
                <div id= "add-button" class= "form-element">
                    <button>Add</button>
                </div>
          </div>


        </div>
    </div>
        
    </body>
    
    <script>
      // let btn = document.getElementById("add-user-btn")
    
       // btn.style.right = "300px"
       
    const form = document.getElementById('form')
    const name = document.getElementById('name')
    const position = document.getElementById('position')
    const email = document.getElementById('email')
    const age = document.getElementById('age')
    const nickname = document.getElementById('nickname')
    const addButton = document.getElementById('add-button')
    
    let user = {}
    
    document.querySelector(".fa-solid").addEventListener("click", function(){
        document.querySelector(".popup").classList.add("active");
    }) ;
    
    // document.querySelector(".popup .close-btn").addEventListener("click", function(){
    //     document.querySelector(".popup").classList.remove("active");
    // }) ;
    
    
    addButton.addEventListener("click", function(){
        //document.querySelector(".popup").classList.remove("active");
    
        
        user ={
            'name' : name.value,
            'position' : position.value,
            'email' : email.value,
            'age' : age.value,
            'nickname' : nickname.value,
            'addButton' : addButton.value,
        }
        
        checkInputs()

    

//console.log(form);
   
}) 

function checkInputs(){
const usernameValue = document.getElementById('name').value.trim()
// const position = position.value.trim();
// const emailValue = email.value.trim();
// const ageValue = email.value.trim();
// const nicknameValue = nickname.value.trim()

if(usernameValue=== ''){
    //show error
    //add error class
    setErrorFor(name, 'Username cannot be blank')
}else{
    setSuccessFor(name)

}


}

function setErrorFor(input, message){
const formElement = input.parentElement;  //form element div
const small = formElement.querySelector('small')


//add error message inside small
small.innerText = message;

const errElement = formElement.children[1]

console.log(formElement.children);
console.log('formElement', formElement);
console.log('errElement', errElement);
const err = formElement.querySelector('fas.fa-exclamation-circle')
console.log('err', err);
formElement.children[1].style.borderColor = 'red'

//add error class
//formElement.className = 'fa-exclamation-circle'
//formElement.className = 'error'


}





</script>
</html>